@font-face {
    font-family: Jedi;
    src: url('jedi.ttf');
}

body {
    margin: 0;
    padding: 0;
}

.header {
    font-family: sans-serif;
}

.header__title {
    padding: 30px;
    background: url("bg.jpg");
    font-size: 30px;
    text-align: center;
    color: #E7F309;
    font-family: Jedi, sans-serif;
}

.break {
    height: 10px;
    margin: 0 55px;
    border: 0;
    background: linear-gradient(90deg, #4a0000, #e10c0c, #4a0000);
}

.nav {
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.nav__item {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease-in-out, background-color 0.1s ease-in-out;
}

.nav__item:hover {
    color: #E7F309;
    background: url("bg.jpg");
}

.content__title{
    font-size: 30px;
    text-align: center;
    font-family: Jedi;
}

.courses__list {
    text-align: center;
}

.course {
    position: relative;
    display: inline-block;
    margin: 15px;
    width: 400px;
    min-height: 260px;
    cursor: pointer;
    vertical-align: top;
    transition: background-color 0.3s ease-in-out;
}

.course:hover {
    background: #aaaaaa;
}

.course__title {
    font-size: 28px;
    font-weight: bold;
}

.course--light {
    color: black;
    background: white;
}

.course--dark {
    color: white;
    background: black;
}

.course__description {
    padding: 15px;
    text-align: left;
    font-size: 22px;
    font-weight: 500;
    font-style: italic;
}

.course__date {
    position: absolute;
    text-align: left;
    padding: 12px;
    bottom: 0;
}

.teachers__list {
    text-align: center;
}

.teacher {
    display: inline-block;
    margin: 15px;
    width: 20%;
    vertical-align: top;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.teacher:hover {
    background: #5b5b5b;
    color: white;
}

.teacher__title {
    font-family: Jedi;
}

.teacher__image {
    height: 100px;
    border-radius: 50%;
}

.teacher__description {
    color: grey;
    font-weight: 500;
    font-style: italic;
}

.footer {
    margin: 10px;
    font-family: sans-serif;
}

@media (min-width: 900px) {

    .header__title {
        font-size: 55px;
    }

    .content__title{
        font-size: 44px;
    }

    .teacher__image {
        height: 150px;
    }
}