@font-face {
    font-family: Ru;
    src: url('ru.woff2') format('woff');
}

body {
    margin: 0;
    padding: 0;
}

.header {
    font-family: sans-serif;
}

.header__title {
    padding: 30px;
    background: #ffe100;
    font-size: 30px;
    text-align: center;
    color: #000000;
    font-family: Ru, sans-serif;
}

.header::after, .footer::before {
    content: '';
    height: 10px;
    margin: 15px 55px;
    display: block;
    background: linear-gradient(90deg, #000000, #ffe053, #000000);
}

.nav {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.nav__item {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease-in-out, background-color 0.1s ease-in-out;
}

.nav__item:hover {
    color: #E7F309;
    background: #000000;
}

.content__title{
    font-size: 30px;
    text-align: center;
    font-family: Ru, sans-serif;
}

.courses__title{
    font-size: 27px;
    text-align: center;
    color: #ff6900;
    font-family: Ru, sans-serif;
}

.courses__list {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.course {
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    flex: 100%;
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.course:hover {
    background: #ffe10085;
    color: #000000;
}

.course__title {
    font-size: 28px;
    font-weight: 700;
}

.course--light {
    color: black;
    background: white;
}

.course--dark {
    color: white;
    background: black;
}

.course__description {
    padding: 15px;
    text-align: left;
    font-size: 22px;
    font-weight: 500;
    font-style: italic;
}

.course__date {
    text-align: left;
    margin-top: auto;
    padding: 10px;
}

.teachers__list {
    text-align: center;
}

.teacher {
    display: inline-block;
    margin: 15px;
    width: 20%;
    vertical-align: top;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.teacher:hover {
    background: #ffe100;
}

.teacher__title {
    font-family: Ru, sans-serif;
}

.teacher__image {
    height: 100px;
    border-radius: 50%;
}

.teacher__description {
    color: grey;
    font-weight: 500;
    font-style: italic;
}

.footer {
    margin: 10px;
    font-family: sans-serif;
}


.button-group {
    display: flex;
    justify-content: center;
}

.login__button,
.button-group__button,
.button__frontend,
.button__backend {
    margin: 15px;
    padding: 7px;
    background: #ffe100;
    border: 1px solid #d2d2d2;
    border-radius: 10%;
    font-size: 20px;
    font-family:  Ru, sans-serif;
    cursor: pointer;
    transition: background 0.4s ease-in-out;
}

.button-group__button:hover,
.button__frontend:hover,
.button__backend:hover {
    background: #cbcbcb;
}

.button-group__button--active{
    background: #ff8535;
}

.schedules__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.schedule {
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    flex: 100%;
    margin: 15px;
}

.schedule:hover {
    background: #ffe10085;
    color: #000000;
}

.schedule__title {
    font-size: 28px;
    font-weight: 700;
}

.schedule__description {
    padding: 15px;
    font-size: 22px;
    font-weight: 500;
    font-style: italic;
}

.schedule__date {
    padding: 10px;
}

.login {
    text-align: center;
}

.login__title {
    font-size: 40px;
    color: #000000;
    font-family: Ru, sans-serif;
    margin-bottom: 30px;
}

.login__group {
    margin: 25px;
}

.login__label {
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
}

.login__input {
    font-size: 20px;
    border: 0;
    border-radius: 15px;
    background: rgba(255, 225, 0, 0.26);
    padding: 5px 30px;
}

@media (min-width: 900px) {

    .header__title {
        font-size: 55px;
    }

    .nav {
        font-size: 36px;
    }

    .content__title{
        font-size: 44px;
    }

    .courses__title{
        font-size: 35px;
    }

    .teacher__image {
        height: 150px;
    }

    .course {
        flex: 0.2 30%;
    }

    .button-group__button,
    .button__frontend,
    .button__backend {
        margin: 25px;
        padding: 10px;
        font-size: 25px;
    }
}