@import "../../global";

.course {
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  flex: 100%;
  margin: 15px;
  display: flex;
  flex-direction: column;

  @media (min-width: 900px) {
    & {
      flex: 0.2 30%;
    }
  }


  &:hover {
    background: #{$course_main_color}85;
    color: #000000;
  }

  &__title {
    font-size: 28px;
    font-weight: 700;
  }

  &--light {
    color: black;
    background: white;
  }

  &--dark {
    color: white;
    background: black;
  }

  &__description {
    padding: 15px;
    text-align: left;
    font-size: 22px;
    font-weight: 500;
    font-style: italic;
  }

  &__date {
    text-align: left;
    margin-top: auto;
    padding: 10px;
  }
}