{% extends 'main/base.html' %}

{% block title %}
    Авторизация
{% endblock %}

{% block content %}
    <div class="authform">
        <h1>Авторизация</h1>
        {% if next %}
            {% if user.is_authenticated %}
                <p>Нет доступа.</p>
            {% else %}
                <p>Авторизуйтесь, чтобы увидеть эту страницу.</p>
            {% endif %}
        {% endif %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div>
                <label for="id_username">Логин:</label>
                {{ form.username }}
            </div>
            <div>
                <label for="id_password">Пароль:</label>
                {{ form.password }}
            </div>

            <input type="submit" value="Войти" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
        <p><a href="{% url 'signup' %}">Зарегестрироваться</a></p>

        {% if form.errors %}
            <h5 class="formerror">Некорректный логин или пароль. Повторите попытку</h5>
        {% endif %}
    </div>


{% endblock %}